@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

input:focus,
button:focus {
    outline: none;
}

.container {
    width: 1140px;
    height: inherit;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header {
    height: 100px;
    border-bottom: 1px solid #ececec;
}

.container-header {
    height: inherit;
    display: flex;
    align-items: center;
}

.box-logo {
    display: flex;
    align-items: center;
    height: inherit;
}

.name-brand {
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.68px;
    margin-left: 13px;
}

.name-brand span {
    color: #f16d7f;
    font-weight: 400;
    letter-spacing: 0.68px;
}

.search-form {
    display: flex;
    margin-left: 37px;
    margin-right: 349px;
    width: 400px;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}

.search {
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 87px;
    height: inherit;
    background-color: #f5f5f5;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
}

.search i {
    padding-left: 8px;
}

.search-form input {
    width: 280px;
    height: inherit;
    border: none;
    padding-left: 16px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.search-form button {
    width: 36px;
    height: inherit;
    border: none;
    background-color: #ffffff;
}

.search-form button:focus,
.search-form input:focus {
    outline: none;
}

.fa-shopping-cart {
    font-size: 25px;
    margin-bottom: -10px;
}

.account {
    margin-left: 26px;
    padding-left: 19px;
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
}

.account i {
    margin-left: 8px;
}

nav {
    height: 50px;
}

.menu-nav {
    height: inherit;
    width: 680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-link {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.menu-link:hover {
    color: #f16d7f;
}

.promo {
    height: 613px;
    background: #e8e8e8;
}

.container-backimg {
    height: inherit;
    background: url(../Img/Layer_24.jpg) 0 100% no-repeat;
}

.content-promo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92px;
    border-left: 12px solid #f16d7f;
}

.container-promo {
    padding-top: 224px;
}

.promo-one {
    color: #222222;
    font-size: 60px;
    font-weight: 900;
    line-height: 45px;
    padding-left: 12px;
}

.promo-two {
    font-size: 40px;
    font-weight: 900;
    line-height: 30px;
    padding-left: 12px;
}

.promo-two span {
    color: #f16d7f;
}

.collection-container {
    margin-top: 98px;
    height: 823px;
    position: relative;
}

.men {
    position: absolute;
    width: 560px;
    height: 542px;
    background: url(../Img/block1/Layer_30.jpg) no-repeat;
}

.accesories {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 560px;
    height: 261px;
    background: url(../Img/block1/Layer_33.jpg) no-repeat;
}

.women {
    position: absolute;
    top: 0;
    right: 0;
    width: 560px;
    height: 261px;
    background: url(../Img/block1/Layer_32.jpg) no-repeat;
}

.kids {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 560px;
    height: 542px;
    background: url(../Img/block1/Layer_31.jpg) no-repeat;
}

.collection-name {
    margin-top: 26px;
    display: inline-block;
    padding: 16px 19px;
    background-color: #ffffff;
    color: #222222;
    font-size: 18px;
    font-weight: 900;
}

.collection-name span {
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.catalog-container {
    margin-top: 100px;
}

h2 {
    text-align: center;
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
}

.p-catalog {
    margin-top: 16px;
    text-align: center;
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}

.items {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 261px;
    height: 364px;
    position: relative;
}

.item:not(:nth-child(-n+4)) {
    margin-top: 39px;
}

.item-bay {
    width: inherit;
    height: 280px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
}

.item-batton {
    display: block;
    margin: 98px auto;
    width: 121px;
    height: 37px;
    border: 1px solid #ffffff;
}

.content-item-batton {
    display: block;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 15px;
}

.content-item-batton i {
    font-size: 16px;
}

.item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item:hover .item-bay {
    display: block;
}

.item img {
    width: 261px;
    height: 280px;
}

.name-item {
    color: #222222;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 13px 14px 0 14px;
}

.price-item {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    margin: 13px 14px 0 14px;
}

.all-items {
    display: block;
    margin: 58px auto;
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
}

.all-items-batton {
    padding-left: 24px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 47px;
}

.all-items-batton i {
    margin-left: 9px;
}

.offer-container {
    display: flex;
    margin-top: 113px;
}

.offer-baner {
    height: 529px;
    width: 767px;
    background: url(../Img/block3/bcgimg.jpg) no-repeat;
}

.offer-board {
    margin-top: 133px;
    margin-left: 39px;
    height: 78px;
    width: 293px
}

.offer-board-one {
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
}

.offer-board-one span {
    color: #f16d7f;
}

.offer-board-two {
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0.9px;
}

.offer-content {
    height: 529px;
    width: 373px;
    background-color: #222224;
}

.offer-content-row1,
.offer-content-row2,
.offer-content-row3 {
    margin-top: 48px;
    padding-left: 111px;
    width: 220px;
}

.offer-content-row1 {
    background: url(../Img/block3/Forma_1.png) left 36px top 0px no-repeat;
}

.offer-content-row2 {
    background: url(../Img/block3/Forma_2.png) left 36px top 0px no-repeat;
}

.offer-content-row3 {
    background: url(../Img/block3/Forma_3.png) left 36px top 0px no-repeat;
}

h3 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
}

.offer-text {
    margin-top: 14px;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.reviews {
    margin-top: 97px;
    height: 438px;
    background: url(../Img/block4/bcgimg.jpg) 50% 0 no-repeat;
}

.reviews-container {
    height: 438px;
    display: flex;
}

.reviews-left {
    padding-top: 111px;
    width: 570px;
    display: flex;
}

.img-reviews {
    height: 83px;
    width: 83px;
}

.reviews-content {
    margin-left: 28px;
}

blockquote {
    width: 386px;
    height: 68px;
    color: #222224;
    font-size: 16px;
    line-height: 26px;
    font-style: italic;
}

.author {
    width: 84px;
    margin-top: 19px;
    font-weight: 300;
    color: #222224;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 14px;
}

.author span {
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 26px;
    color: #f16d7f;
    font-size: 16px;
}

.reviews-right {
    width: 570px;
}

.text-subscribe {
    width: 277px;
    height: 41px;
    margin: 148px auto 0;
    text-align: center;
    color: #222224;
    font-size: 24px;
    font-weight: 400;
    line-height: 21px;
}

.text-subscribe span {
    font-size: 14px;
}

.form-subscribe {
    margin: 35px auto 0;
    width: 386px;
    height: 46px;
    border-radius: 23px;
    overflow: hidden;
    display: flex;
}

.text-input {
    padding-left: 28px;
    padding-right: 28px;
    width: 226px;
    height: inherit;
    border: none;
    background-color: #e1e1e1;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
}

.text-input:focus,
.form-subscribe button:focus {
    outline: none;
}

.form-subscribe button {
    width: 104px;
    height: inherit;
    border: none;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}

.footer-container {
    display: flex;
    height: 458px;
}

.about-brand {
    margin-top: 109px;
    width: 427px;
}

.text-footer {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 30px;
}

h4 {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.company {
    margin-left: 64px;
    margin-top: 123px;
}

.information {
    margin-top: 123px;
    margin-left: 129px;
}

.shop-category {
    margin-top: 123px;
    margin-left: 80px;
}

.menu-footer {
    margin-top: 45px;
}

.list-footer {
    list-style-type: none;
    margin-bottom: 25px;
}

.link-footer {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
}

.link-footer:hover {
    color: #f16d7f;
}

.footer-brand {
    color: #3e3e40;
}

.copyright-network {
    height: 79px;
    background-color: #e6e6e6;
}

.copyright-containe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}

.copyright {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
}

.network {
    display: flex;
}

.icon-network {
    height: 32px;
    width: 32px;
    margin-left: 8px;
    background-color: #ffffff;
    color: #b2b2b2;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.icon-network:hover {
    color: #f7f7f8;
    background-color: #f16d7f
}

.icon-network:active {
    color: #d7d7d7;
    background-color: #ededed;
}

/*стили для shoppingCart*/

.location {
    height: 148px;
    background-color: #f8f3f4;
}

.container-location {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-name {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 900;
    line-height: 20px;
}

.location-track {
    font-size: 14px;
    line-height: 20px;
    color: #636363;
    font-weight: 300;
}

.location-track span {
    font-weight: 700;
    color: #f16d7f;
}

.container-cart {
    padding-top: 75px;
}

.table-cart {
    width: inherit;
    border-collapse: collapse;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
}

tr {
    border-bottom: 1px solid #eaeaea;
}

tr:not(:first-child) {
    height: 162px;
}

th {
    color: #222222;
    font-weight: 700;
    height: 53px;
}

th:first-child {
    text-align: start;
}

td:not(:first-child) {
    text-align: center;
}

td:first-child {
    width: 500px;
}

td:last-child {
    width: 50px;
}

.product {
    display: flex;
}

.img-product {
    margin-right: 21px;
    height: 115px;
    width: 100px;
    background-color: #f1f7fa;
}

.name-product {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
}

.color-product,
.size-product {
    color: #6f6e6e;
}

.color-product span,
.size-product span {
    font-weight: 300;
}

.color-product {
    margin-top: 30px;
}

.action {
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
}

.button-for-cart {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
}

.clear,
.continue {
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
}

.clear {
    width: 235px;
}

.continue {
    width: 225px;
}

.clear:hover,
.continue:hover {
    color: #f16d7f;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);

}

.clear:focus,
.continue:focus {
    outline: none;
}

.checkout-product {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.proceed-checkout,
.shipping-adress,
.coupon-discount,
.shipping-adress form {
    display: flex;
    flex-direction: column;
}

.proceed-checkout,
.shipping-adress,
.coupon-discount {
    width: 360px;
}

.country,
.state,
.postcode,
.state-two {
    height: 45px;
    width: 329px;
    margin-top: 20px;
    border: 1px solid #eaeaea;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    padding-left: 12px;
    padding-right: 12px;
}

.country select {
    width: 337px;
    height: inherit;
    background-color: #ffffff;
    border: none;
}

.country select {
    outline: none;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
}

.proceed-checkout select:focus {
    outline: none;
}

.button-shipping {
    margin-top: 24px;
    width: 100px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
}

.state-two {
    margin-top: 25px;
}

.button-coupon {
    margin-top: 24px;
    width: 118px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
}

.name-form {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
}

.instruction-coupon {
    margin-top: 25px;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
}

.proceed-checkout {
    height: 214px;
    background-color: #f5f3f3;
}

.proceed-checkout-one,
.proceed-checkout-two {
    margin: 0 auto;
    height: 107px;
    width: 275px;
}

.proceed-checkout-one {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.sub-total {
    margin-top: 40px;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
}

.sub-total span {
    margin-left: 15px;
}

.grand-total {
    margin-top: 14px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
}

.grand-total span {
    margin-left: 15px;
    color: #f16d7f;
}

.proceed-checkout-two {
    border-top: 1px solid #e2e2e2;
}

.proceed-checkout-two button {
    margin-top: 17px;
    width: 275px;
    height: 50px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

/*стили для product*/

