.location {
    height: 148px;
    background-color: #f8f3f4;
    @media (max-width: 700px) {
        height: 74px;
    }
}

.container-location {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1140px) {
        justify-content: space-evenly;
    }
    @media (max-width: 700px) {
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.location-name {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 900;
    line-height: 20px;
}

.location-track {
    font-size: 14px;
    line-height: 20px;
    color: #636363;
    font-weight: 300;
}

.location-track span {
    font-weight: 700;
    color: #f16d7f;
}