.items {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    width: 261px;
    height: 364px;
    position: relative;
}


@media (max-width: 522px) {
    .item:not(:first-child) {
        margin-top: 39px;
    }
}

@media (max-width: 782px) {
    .item:not(:nth-child(-n+2)) {
        margin-top: 39px;
    } 
}
@media (min-width: 782px) {
    .items {
        justify-content: space-between;
    }
    .item:not(:nth-child(-n+3)) {
        margin-top: 39px;
    }    
}

.item-bay {
    width: inherit;
    height: 280px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
}

.item-batton {
    display: block;
    margin: 98px auto;
    width: 121px;
    height: 37px;
    border: 1px solid #ffffff;
}

.content-item-batton {
    display: block;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 15px;
}

.content-item-batton i {
    font-size: 16px;
}

.item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item:hover .item-bay {
    display: block;
}

.item img {
    width: 261px;
    height: 280px;
}

.name-item {
    color: #222222;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 13px 14px 0 14px;
}

.price-item {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    margin: 13px 14px 0 14px;
}

.all-items {
    display: block;
    margin: 58px auto;
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
}

.all-items-batton {
    padding-left: 24px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 47px;
}

.all-items-batton i {
    margin-left: 9px;
}