.reviews {
    min-height: 438px;
    background: url(../Img/block4/bcgimg.jpg) 50% 0 no-repeat;
    @media (max-width: 1140px) {
        background: url(../Img/block4/bcgimg.jpg) 0 50% no-repeat;
        background-size: cover;
    }
}

.reviews-container {
    min-height: 438px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1140px) {
        justify-content: space-evenly;
    }
}

.reviews-left {
    padding-top: 111px;
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1140px) {
        padding: 0;
        margin: 50px auto 0;
    }
    @media (max-width: 497px) {
        justify-content: space-evenly;
    }
}

.img-reviews {
    height: 83px;
    width: 83px;
}

.reviews-content {
    margin-left: 28px;
}

blockquote {
    max-width: 386px;
    min-height: 68px;
    color: #222224;
    font-size: 16px;
    line-height: 26px;
    font-style: italic;
}

.author {
    width: 84px;
    margin-top: 19px;
    font-weight: 300;
    color: #222224;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 14px;
}

.author span {
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 26px;
    color: #f16d7f;
    font-size: 16px;
}

.reviews-right {
    width: 570px;
    @media (max-width: 1140px) {
        padding: 0;
        margin: 0 auto;
    }
}

.text-subscribe {
    width: 277px;
    height: 41px;
    margin: 148px auto 0;
    text-align: center;
    color: #222224;
    font-size: 24px;
    font-weight: 400;
    line-height: 21px;
    @media (max-width: 1140px) {
        margin: 0 auto;
    }
}

.text-subscribe span {
    font-size: 14px;
}

.form-subscribe {
    margin: 35px auto 0;
    width: 386px;
    height: 46px;
    border-radius: 23px;
    overflow: hidden;
    display: flex;
    @media (max-width: 388px) {
        width: 318px;
    }
}

.text-input {
    padding-left: 28px;
    padding-right: 28px;
    width: 226px;
    height: inherit;
    border: none;
    background-color: #e1e1e1;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    @media (max-width: 388px) {
        width: 158px;
    }
}

.text-input:focus,
.form-subscribe button:focus {
    outline: none;
}

.form-subscribe button {
    width: 104px;
    height: inherit;
    border: none;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}